@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;
}

body{
    width: 100%;
    height: 100vh;
    background:  #E5E5E5;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;

    
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 310px;
    height: 600px;
    background: white;
    padding-bottom: 180px;
    padding-top: 142px;
    background:  linear-gradient(rgba(124, 220, 214, 1),rgba(255, 255, 255, 0),rgba(236, 208, 208, 1));
    border-radius: 10px;
}

.titulo-principal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-principal h1{
    margin-bottom: 30px;
    color: #FFFFFF;
    font-weight: 400;
    letter-spacing: 0.22em;
    font-size: 18px ;
}

.inputs{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   
}

input{
    width: 165px;
    height: 26px;
    border-radius: 6px;
    margin-bottom: 10px;
    border: 1px solid white;
}

 .content-final{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
}

.btns button{
    min-width: 99px;
    height: 26px;
    background:  linear-gradient(109.78deg, #6AD9CB 36.78%, rgba(255, 255, 255, 0) 195.88%), linear-gradient(108.83deg, #A9EC9F 164.82%, rgba(255, 255, 255, 0) 210.24%);
    color: #FFFFFF;
    font-size: 13px;
    border-radius: 9px;
    border: 1px solid #6AD9CB;
}



.inputs span{
    color: #7E7E7E;
    font-size: 12px;
    margin-bottom: 6px;
}
 
    

.forget{
    color:#7E7E7E;
    font-size: 12px;
    font-weight: 300;
    
    
}

.btns span{
    text-align: center;
    padding: 7px;
    color: #7E7E7E;
    font-size: 12px;
}
